In [4]:
import graph_tool.all as gt
#import pandas as pd
#19-4:
#Chequear que esten dando el mismo BC con igraph
#Apparently not right order of nodes, but values seem similar

In [5]:
g=gt.Graph()
ctuName="capture20110815-2.binetflow.labels.gz"
g= gt.load_graph("../../data/graphml/"+ctuName+".graphml")

In [37]:
#for v in g.vertices():
 #   print(g.vp.name[v])
#for e in g.edges():
 #   print(g.ep.Bytes[e])
 #g.list_properties()
 #gt.graph_draw(g, vertex_text=g.vertex_index)

In [38]:
bv, be = gt.betweenness(g,weight=g.ep.Bytes,norm=False)
# 2:12 min

In [40]:
BC=[]
for v in g.vertices():
    BC.append(bv[v])

In [41]:
import json

with open("BC_gt.json", 'w') as f:
    json.dump(BC, f, indent=2)

## Feature calculations

## CSV export

In [8]:
df = pd.DataFrame()
df['node']=g.vs['name']
df['ID']=ID
df['OD']=OD
df['IDW']=IDW
df['ODW']=ODW
df['BC']=BC
df['LCC']=LCC
#df['AC']=AC
df['label']="normal"
for ip in botnets:
    df.loc[df["node"] == ip, ["label"]] = "botnet"
df

,node,ID,OD,IDW,ODW,BC,LCC,label
0,0.0.0.0,0,1,0.0,61058.0,0.0,0.000000,normal
1,255.255.255.255,6,0,69392.0,0.0,0.0,0.066667,normal
2,00:15:17:2c:e5:2d,0,1,0.0,26452.0,0.0,0.000000,normal
3,ff:ff:ff:ff:ff:ff,1,0,26452.0,0.0,0.0,0.000000,normal
4,1.1.224.18,1,1,1440.0,1680.0,0.0,0.000000,normal
...,...,...,...,...,...,...,...,...
41653,fe80::7272:cfff:fe1b:d243,0,1,0.0,550.0,0.0,0.000000,normal
41654,ff02::1,1,0,550.0,0.0,0.0,0.000000,normal
41655,fe80::d036:46ef:ad35:fc09,0,1,0.0,172.0,0.0,0.000000,normal
41656,fe80::f180:4f5c:7d4a:bbd7,0,2,0.0,254.0,0.0,0.000000,normal
41657,ff02::1:3,1,0,168.0,0.0,0.0,0.000000,normal

In [10]:
df.to_csv("../../data/csv/"+ctuName+".features.csv") #pay attention not to save the dataframe ids