In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans

In [2]:
features_csv_name="capture20110815-2.binetflow.labels-positive-weights.labeled.csv"
df=pd.read_csv('../../data/csv/'+features_csv_name)
#Shouldn't we use normalized features here? Does k menas normalize automatically?
df.head()

,node,ID,OD,IDW,ODW,BC,LCC,AC,label
0,0.0.0.0,0,1,0,61058,0.000000,0.000000,1.000000,background
1,255.255.255.255,6,0,69392,0,0.000000,0.000000,-13495.640605,background
2,1.1.224.18,1,1,1440,1680,0.000000,0.000000,0.999327,background
3,147.32.87.27,24,30,726939,20782414,0.000984,0.032184,-0.000047,background
4,1.114.187.73,1,1,821,951,0.000000,0.000000,0.947675,background

In [3]:
#Get dataframe column labels
features=df.columns.values
X = np.array(df[features[1:8]])
y = np.array(df[features[8]])
X.shape

(41399, 7)

In [34]:
kmeans = KMeans(n_clusters=200,max_iter=10000,random_state=0).fit(X)
labels = kmeans.predict(X)

In [35]:
#Calcular la moda de labels
mode_labels=np.bincount(labels).argmax()
print(mode_labels)
#Contar la cantidad de veces que aparece la moda
count_mode_labels=np.bincount(labels).max()
count_mode_labels

0

38873