In [1]:
import pandas as pd
from pycaret.classification import *
import os

In [2]:
#load data
os.chdir('../..')
df=pd.read_csv('./data/csv/phase2_data.csv')
#train logistic regression model with all numerical features
classif = setup(data = df, target = 'label', session_id=123, train_size=0.8,numeric_features=['ID','OD','IDW','ODW','LCC','AC','BC'])

In [3]:
#logistic regression without penalization
lr = create_model('lr',penalty='none')
#Tuning suggests that class_weight='balanced' could work better
#tuned = tune_model(lr, n_iter = 50)   NO need to tune.

In [6]:
max_features=[2,4,6]
max_depth=[2,4,6,8]
n_estimators=[50,100,200,300]
#create dataframe for storing results
results=pd.DataFrame(columns=['max_features','max_depth','n_estimators','recall','specificity','balanced_accuracy','tp','tn','fp','fn'])
for feat in max_features:
    for depth in max_depth:
        for est in n_estimators:
            rf=create_model('rf',max_features=feat,max_depth=depth,n_estimators=est)
            print(feat,depth,est)
            #usarlos en el dataset original y calcular estas features a mano? not a faster way?
            # recall=get_metrics(rf,metric='Recall')
            # specificity=get_metrics(rf,metric='Specificity')
            # balanced_accuracy=get_metrics(rf,metric='Accuracy')
            # tp=get_metrics(rf,metric='TP')
            # tn=get_metrics(rf,metric='TN')
            # fp=get_metrics(rf,metric='FP')
            # fn=get_metrics(rf,metric='FN')
            #store results
            #results=results.append({'max_features':feat,'max_depth':depth,'n_estimators':est,'recall':recall,'specificity':specificity,'balanced_accuracy':balanced_accuracy,'tp':tp,'tn':tn,'fp':fp,'fn':fn},ignore_index=True)
    


#Steps:
#1. Create a grid with rf hyperparameters for number of trees, number of features mtry 
# and depth(important according to an article)
#max_features:2,4,6 
#max_depth:(4) 
#n_estimators: (4)
#2. Calculate harpo metrics for each of them: 
    #A_ Use predictor trained and estimate the original dataset without labels
    #B_ Compare labels and calculate tp,fp,tn,fn
    #C_ Calculate harpo metrics.
    #D_ Save them in a dataframe ordered or in 2D grids.

2 2 50
                Name Display Name  \
ID
acc         Accuracy     Accuracy
auc              AUC          AUC
recall        Recall       Recall
precision  Precision        Prec.
f1                F1           F1
kappa          Kappa        Kappa
mcc              MCC          MCC

                                              Score Function  \
ID
acc              <function accuracy_score at 0x7fe60a6fd430>
auc               <function roc_auc_score at 0x7fe60a6f61f0>
recall     <pycaret.internal.metrics.BinaryMulticlassScor...
precision  <pycaret.internal.metrics.BinaryMulticlassScor...
f1         <pycaret.internal.metrics.BinaryMulticlassScor...
kappa         <function cohen_kappa_score at 0x7fe60a6fd790>
mcc           <function matthews_corrcoef at 0x7fe60a6fd9d0>

                                                      Scorer      Target  \
ID
acc                                                 accuracy        pred
auc        make_scorer(roc_auc_score, needs_proba=True, e...  pred_proba
recall              make_scorer(recall_score, average=macro)        pred
precision     make_scorer(precision_score, average=weighted)        pred
f1                   make_scorer(f1_score, average=weighted)        pred
kappa                         make_scorer(cohen_kappa_score)        pred
mcc                           make_scorer(matthews_corrcoef)        pred

                                                    Args  Greater is Better  \
ID
acc                                                   {}               True
auc        {'average': 'weighted', 'multi_class': 'ovr'}               True
recall                              {'average': 'macro'}               True
precision                        {'average': 'weighted'}               True
f1                               {'average': 'weighted'}               True
kappa                                                 {}               True
mcc                                                   {}               True

           Multiclass  Custom
ID
acc              True   False
auc              True   False
recall           True   False
precision        True   False
f1               True   False
kappa            True   False
mcc              True   False