In [1]:
#Run the optimal kmeans to remove the benign cluster from data (without capture 9)
import pandas as pd
import os
from pycaret.clustering import *

In [2]:
#load data
os.chdir('../..') #to change working directory of the notebook when restarted
#Initialize empty df
df_all=pd.DataFrame()
for root, dirs, files in os.walk("./data/csv/captures_features"):
    for ctuName in files:
        #ignore capture 9
        if ctuName == 'capture20110817.binetflow.labels-positive-weights.labeled.csv':
            continue
        df=pd.read_csv("./data/csv/captures_features/"+ctuName)
        #add to general df as new rows
        df_all=df_all.append(df, ignore_index=True)
print(df_all.shape)

(2874213, 9)

In [3]:
#Change background and normal to 0 and infected values to 1
df_all['label']=df_all['label'].replace(['background','normal'],0)
df_all['label']=df_all['label'].replace(['infected'],1)
#drop node column
df_all=df_all.drop(['node'], axis=1)

#keep first 10000 rows
df_reduced=df_all.head(100)
df_reduced

        ID      OD      IDW      ODW            BC       LCC         AC  label
0        0       1        0     1639  0.000000e+00  0.000000   1.000000      0
1        6       0     2113        0  0.000000e+00  0.000000  16.895299      0
2        1       1        2        2  0.000000e+00  0.000000   0.997643      0
3   135476  140755  1397778  1398024  3.080584e+10  0.000000  -0.117842      0
4        1       1        7        7  0.000000e+00  0.000000   0.999671      0
5      651     664   194078   160979  1.462356e+08  0.000000  -0.004701      0
6        1       1        1        1  0.000000e+00  0.000000   0.991775      0
7    19269   19665    83768    78421  5.721328e+09  0.000000  -0.822473      0
8        1       1        2        2  0.000000e+00  0.000000   0.997643      0
9        1       1        1        1  0.000000e+00  0.000000   0.998822      0
10       1       1        1        1  0.000000e+00  0.000000   0.991775      0
11       1       1        1        1  0.000000e+00  0.000000   0.991775      0
12       1       1        2        2  0.000000e+00  0.000000   0.997643      0
13       1       1        1        1  0.000000e+00  0.000000   0.998822      0
14       1       1        1        1  0.000000e+00  0.000000   0.998822      0
15       1       1        2        2  0.000000e+00  0.000000   0.997643      0
16       1       1       18       12  0.000000e+00  0.000000   0.978788      0
17       1       1        2        2  0.000000e+00  0.000000   0.983551      0
18       1       1        1        1  0.000000e+00  0.000000   0.998822      0
19       1       1        2        2  0.000000e+00  0.000000   0.997643      0
20       1       1        1        1  0.000000e+00  0.000000   0.998822      0
21       1       1        1        1  0.000000e+00  0.000000   0.998822      0
22       1       1        1        1  0.000000e+00  0.000000   0.998822      0
23       1       1        2        2  0.000000e+00  0.000000   0.997643      0
24       1       1        1        1  0.000000e+00  0.000000   0.991775      0
25       1       1        1        1  0.000000e+00  0.000000   0.998822      0
26       1       1        1        1  0.000000e+00  0.000000   0.998822      0
27       1       1        3        3  0.000000e+00  0.000000   0.996465      0
28       1       1        2        2  0.000000e+00  0.000000   0.997643      0
29       1       1        1        1  0.000000e+00  0.000000   0.991775      0
30       1       1        1        1  0.000000e+00  0.000000   0.998822      0
31       1       1        1        1  0.000000e+00  0.000000   0.998822      0
32       1       1        1        1  0.000000e+00  0.000000   0.998822      0
33       1       1        1        1  0.000000e+00  0.000000   0.998822      0
34       1       1        1        1  0.000000e+00  0.000000   0.991775      0
35       1       1        1        1  0.000000e+00  0.000000   0.998822      0
36       1       1        1        1  0.000000e+00  0.000000   0.998822      0
37       1       1        1        1  0.000000e+00  0.000000   0.998822      0
38       1       1        1        1  0.000000e+00  0.000000   0.998822      0
39       1       1        4        4  0.000000e+00  0.000000   0.995286      0
40       1       1        2        2  0.000000e+00  0.000000   0.997643      0
41       1       1        2        2  0.000000e+00  0.000000   0.997643      0
42       1       1        1        1  0.000000e+00  0.000000   0.998822      0
43       1       1        3        3  0.000000e+00  0.000000   0.996465      0
44       1       1        2        2  0.000000e+00  0.000000   0.997643      0
45       1       1        1        1  0.000000e+00  0.000000   0.998822      0
46       1       1       16        6  0.000000e+00  0.000000   0.981145      0
47       1       1        1        1  0.000000e+00  0.000000   0.998822      0
48       1       1        1        1  0.000000e+00  0.000000   0.998822      0
49       1       1        1        1  0.000000e+00  0.000000   0.998822      0
50       1       1        2        2  0.000000e+00  0.000000   0.997643      0
51       1       1        1        1  0.000000e+00  0.000000   0.998822      0
52       1       1        1        1  0.000000e+00  0.000000   0.991775      0
53       2       2        2        2  4.699049e+06  0.000000   0.990597      0
54       1       1        6        6  0.000000e+00  0.000000   0.989495      0
55    3115    2690    62309    46538  8.260494e+08  0.000000  -0.175081      0
56       1       1        2        2  0.000000e+00  0.000000   0.997643      0
57       1       1        2        2  0.000000e+00  0.000000   0.997643      0
58       1       1        1        1  0.000000e+00  0.000000   0.998822      0
59       1       1       17       11  0.000000e+00  0.000000   0.979967      0
60       1       1        1        1  0.000000e+00  0.000000   0.998822      0
61       1       1        1        1  0.000000e+00  0.000000   0.998822      0
62       1       1        1        1  0.000000e+00  0.000000   0.998822      0
63       0       1        0        6  0.000000e+00  0.000000   1.000000      0
64     902     872    56570    43142  2.202174e+08  0.000000  -0.215575      0
65       1       1        2        2  0.000000e+00  0.000000   0.997643      0
66       1       1        1        1  0.000000e+00  0.000000   0.998822      0
67       1       1        1        1  0.000000e+00  0.000000   0.998822      0
68       1       1       15        9  0.000000e+00  0.000000   0.982324      0
69       1       1        1        1  0.000000e+00  0.000000   0.998822      0
70       1       1        1        1  0.000000e+00  0.000000   0.998822      0
71       1       1        2        2  0.000000e+00  0.000000   0.983551      0
72       1       1        1        1  0.000000e+00  0.000000   0.998822      0
73       1       1        6        6  0.000000e+00  0.000000   0.992929      0
74       1       1        1        1  0.000000e+00  0.000000   0.998822      0
75       1       1        1        1  0.000000e+00  0.000000   0.998822      0
76       1       1        1        1  0.000000e+00  0.000000   0.998822      0
77       1       1        1        1  0.000000e+00  0.000000   0.998822      0
78       1       1        3        3  0.000000e+00  0.000000   0.996465      0
79       2       2        4        4  0.000000e+00  0.000000   0.997253      0
80     383     372    23701    14678  8.610876e+07  0.000007  -0.019533      0
81       1       1        1        1  0.000000e+00  0.000000   0.998822      0
82       2       2        2        2  4.699049e+06  0.000000   0.990597      0
83       2       2        3        3  0.000000e+00  0.000000   0.995892      0
84       1       1        2        2  0.000000e+00  0.000000   0.997643      0
85       1       1        3        3  0.000000e+00  0.000000   0.996465      0
86       1       1        1        1  0.000000e+00  0.000000   0.998822      0
87       2       2        6        6  0.000000e+00  0.000000   0.994106      0
88   17158   18690  8078393  4546527  5.735049e+09  0.000005  -0.000164      0
89       1       1        4        4  0.000000e+00  0.000000   0.995286      0
90       2       2       13       13  0.000000e+00  0.000000   0.998802      0
91       1       1        1        1  0.000000e+00  0.000000   0.998822      0
92       1       1        3        5  0.000000e+00  0.000000   0.996465      0
93       2       2        4        4  0.000000e+00  0.000000   0.997640      0
94       1       1        1        1  0.000000e+00  0.000000   0.998822      0
95       1       1        3        3  0.000000e+00  0.000000   0.996465      0
96       1       1        1        1  0.000000e+00  0.000000   0.998822      0
97       1       1        3        3  0.000000e+00  0.000000   0.996465      0
98       3       3       74       74  0.000000e+00  0.000000   0.909281      0
99       3       3        6        6  2.643465e+06  0.000000   0.987060      0

In [4]:
#Insert artificial bots for testing the algorithm
df_reduced['label'].iloc[3:5]=1
df_reduced['label'].value_counts()

0    98
1     2
Name: label, dtype: int64

In [5]:
df_nolabel=df_reduced.drop(['label'], axis=1)

cluster = setup(df_nolabel, session_id = 7652)

In [6]:
model = create_model('kmeans',num_clusters=3)
#Add cluster labels to the training data
kmeans_df = assign_model(model)
#add original labels to the df 
kmeans_df['label']=df_all['label']
kmeans_df

,Silhouette,Calinski-Harabasz,Davies-Bouldin,Homogeneity,Rand Index,Completeness
0,0.9852,65022.565,0.0042,0,0,0

,ID,OD,IDW,ODW,BC,LCC,AC,Cluster,label
0,0,1,0,1639,0.000000e+00,0.0,1.000000,Cluster 0,0
1,6,0,2113,0,0.000000e+00,0.0,16.895299,Cluster 0,0
2,1,1,2,2,0.000000e+00,0.0,0.997643,Cluster 0,0
3,135476,140755,1397778,1398024,3.080584e+10,0.0,-0.117842,Cluster 1,1
4,1,1,7,7,0.000000e+00,0.0,0.999671,Cluster 0,1
...,...,...,...,...,...,...,...,...,...
95,1,1,3,3,0.000000e+00,0.0,0.996465,Cluster 0,0
96,1,1,1,1,0.000000e+00,0.0,0.998822,Cluster 0,0
97,1,1,3,3,0.000000e+00,0.0,0.996465,Cluster 0,0
98,3,3,74,74,0.000000e+00,0.0,0.909281,Cluster 0,0
99,3,3,6,6,2.643465e+06,0.0,0.987060,Cluster 0,0

In [10]:
#get cluster centroids
#calculate the mean for each column for each cluster
Centroids_df=pd.DataFrame(kmeans_df.groupby('Cluster')['ID'].mean())
Centroids_df['OD']=kmeans_df.groupby('Cluster')['OD'].mean()
Centroids_df['IDW']=kmeans_df.groupby('Cluster')['IDW'].mean()
Centroids_df['ODW']=kmeans_df.groupby('Cluster')['ODW'].mean()
Centroids_df['BC']=kmeans_df.groupby('Cluster')['BC'].mean()
Centroids_df['LCC']=kmeans_df.groupby('Cluster')['LCC'].mean()
Centroids_df['AC']=kmeans_df.groupby('Cluster')['AC'].mean()
Centroids_df

,ID,OD,IDW,ODW,BC,LCC,AC
Cluster,,,,,,,
Cluster 0,53.175258,48.463918,3.495680e+03,2.755320e+03,1.330570e+07,7.282219e-08,1.113790
Cluster 1,135476.000000,140755.000000,1.397778e+06,1.398024e+06,3.080584e+10,0.000000e+00,-0.117842
Cluster 2,18213.500000,19177.500000,4.081080e+06,2.312474e+06,5.728189e+09,2.558235e-06,-0.411319

In [11]:
#drop data inside the benign cluster
#drop most common cluster
benign_str=kmeans_df['Cluster'].value_counts().idxmax()
phase2_data=kmeans_df[kmeans_df['Cluster']!=benign_str]
#drop Cluster column
phase2_data.drop(['Cluster'], axis=1, inplace=True)
phase2_data

        ID      OD      IDW      ODW            BC       LCC        AC  label
3   135476  140755  1397778  1398024  3.080584e+10  0.000000 -0.117842      1
7    19269   19665    83768    78421  5.721328e+09  0.000000 -0.822473      0
88   17158   18690  8078393  4546527  5.735049e+09  0.000005 -0.000164      0

In [12]:
#save data to csv
phase2_data.to_csv('./data/csv/phase2_data.csv', index=False)
Centroids_df.to_csv('./data/csv/phase1_centroids.csv', index=False)