In [12]:
import igraph as ig
import pandas as pd

In [2]:
g=ig.Graph()
g=g.Read_Ncol("../../data/ncol/cap1_graph.ncol", names=True, weights='if_present', directed=True)

In [3]:
ig.summary(g)

IGRAPH DNW- 607565 1251265 --
+ attr: name (v), weight (e)

## Feature calculations

In [4]:
ID=g.degree(mode="in") 
OD=g.degree(mode="out")
IDW=g.strength(mode="in",weights="weight")
ODW=g.strength(mode="out",weights="weight")
LCC=g.transitivity_local_undirected(mode='zero') #There exists a Weighted alternative. In the paper they don't consider weights
#Mode zero because we can't make use of nan in a column for ML.(Verify)

In [12]:
AC

NameError: name 'AC' is not defined

In [ ]:
BC=g.betweenness(directed=True,weights="weight")

## CSV export

In [15]:
df = pd.DataFrame()
df['node']=g.vs['name']
df['ID']=ID
df['OD']=OD
df['IDW']=IDW
df['ODW']=ODW
#df['BC']=BC
df['LCC']=LCC
#df['AC']=AC
#df['label']=labels
df

                             node  ID  OD       IDW       ODW       LCC
0                         0.0.0.0   0   1       0.0  743034.0  0.000000
1                 255.255.255.255   6   0  843362.0       0.0  0.133333
2               00:00:00:00:00:00   0   4       0.0    3000.0  0.000000
3               00:0c:29:97:a3:eb   1   1    1200.0     360.0  0.000000
4               00:0c:29:9d:31:2f   1   0    1200.0       0.0  0.000000
...                           ...  ..  ..       ...       ...       ...
607560           ff02::1:ff00:310   1   0      86.0       0.0  0.000000
607561           ff02::1:ff00:3a0   1   0      86.0       0.0  0.000000
607562          ff02::1:ffef:6697   1   0      86.0       0.0  0.000000
607563  fe80::d036:46ef:ad35:fc09   0   2       0.0    2654.0  0.000000
607564  fe80::f180:4f5c:7d4a:bbd7   0   2       0.0    2212.0  0.000000

[607565 rows x 6 columns]

In [5]:
df.to_csv('features.csv') #pay attention not to save the dataframe ids

NameError: name 'df' is not defined